.Container {
    width: 100%;
    margin-top: -20px;
}

.NoArticleMessage {
    line-height: 80px;
    text-align: center;
}


@media only screen and (max-width: 600px) {
	.NoArticleMessage {
		font-size: 1rem;
	}
}