.ButtonStyle {
	display: inline-block;
	font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	position: relative;
	padding: .8em 1.4em;
	padding-right: 4.7em;
	background: #009ED8;
	border: none;
	color: white;
	transition: .2s;
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 2.8em;
		content: "\00a0";
		font-family: 'FontAwesome', sans-serif;
		font-size: 1.2em;
		text-align: center;
		
		transition: .2s;
		transform-origin: 50% 60%;
	}
	&:before {
		background: fadeout(#000, 90%);
	}
	&:hover {
		background: darken(#009ED8, 10%);
	}
	&:active,
    &:focus {
		background: darken(#009ED8, 30%);
		outline: none;
	}
}

.ButtonStyle {
	min-width: 15em;
}

.ButtonStyle {
	&:after {
		content:"\f002";
	}
	&:hover:after {
		-webkit-animation: none;
		-webkit-transform: scale(1.4);
		animation: none;
		transform: scale(1.4);
	}
}

.ErrorInput {
    border: 1px solid red;
}

.NotFoundTitle {
    text-align: center;
}