.Card {
    transition: transform .2s;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.Card:hover {
    transform: scale(1.05);
}

.LinkToOriginalSite {
    text-decoration: none;
    color: inherit;
}

.LinkToOriginalSite:hover {
    text-decoration: none;
    color: inherit;
}

.ImageContainer {
    width: 100%;
    height: 25%;
}

.Image {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    /* object-fit: fill; */
    box-sizing: border-box;
}

.TitleContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.TextContainer {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    
}

.Text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.Published {
    text-align: center;
}
